.genlay {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $standardHeading;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    text-decoration: underline;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-weight: bold;
  }
  &-firstJobHeading {
    margin: 1em 0 0 0;
  }
  &-jobHeading {
    margin: 2em 0 0 0;
  }
  &-initialDescript {
    font-style: italic;
    margin: 0.8em 0;
  }
  li {
    line-height: 1.6em;
  }
  &-expand {
    font-weight: bold;
  }

  &-modalMobile {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  &-modalDesktop {
    text-align: center;
    max-width: 800px;
    margin: 1.75rem auto;
  }
  &-modalTitle {
    @include portfolio_textStyle;
    font-size: 1.4em;
  }
  &-compHeading {
    @include portfolio_textStyle;
    margin: 1em 0 0.5em;
  }
  &-projectInset {
    font-size: 1em;
  }
  &-mainHeader {
    @include portfolio_textStyle;
    color: $light-grey;
    margin: 0;
    @include MQ(S) {
      margin: 2em 0 0 0;
      padding: 0 0 20px 0;
    }
  }
  &-headingBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    h2 {
      @include portfolio_textStyle;
      margin: 0.3em 0 0 0;
      align-self: flex-end;
    }
    &__firstSection {
      display: flex;
    }
    &__lastSection {
      display: flex;
      width: 7em;
    }
    &__logo {
      visibility: hidden;
      margin-bottom: 0em;
      @include MQ(L) {
        display: block;
        visibility: visible;
      }
    }
  }
}
