@import '../../../styles/includeInAll/index.scss';

.cimaBar {
  height: 60px;
  background-color: #199eae;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__item {
    font-family: $headerFont;
    font-size: 1.3em;
    color: white;
    letter-spacing: 0.06em;
  }
  &--phone {
    visibility: hidden;
    display: none;
    @include MQ(S) {
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      align-items: center;
      visibility: visible;
    }
  }
  &--title {
    width: 100%;
    @include flex_center;
    @include MQ(S) {
      width: 50%;
      display: flex;
      margin-left: 1rem;
      justify-content: flex-start;
      align-items: center;
      visibility: visible;
    }
  }
  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
