.j {
  &-topBar {
    height: 60px;
    background: black url("../../../images/fiesta-banner.gif") repeat-x;
    background-size: 500px;
    background-position: center;
  }
  &-txSpacer {
    margin: 20px 0;
    height: 50px;
    background-image: url("../../../images/txflag.gif");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
