@import '../../../styles/includeInAll/index.scss';

.boxesBack {
  width: 100%;
  background-image: url('../../../images/backgrounds/left-boxes.png'),
    url('../../../images/backgrounds/right-boxes.png');
  background-size: 400px;
  background-repeat: repeat-y;
  background-position: left 4rem, right 4rem;
}
