@import "../../../styles/variables.scss";

.mainNav {
  font-family: "Permanent Marker", cursive, "Tahoma", "Georgia";
  // font-family: "Barlow Condensed", "Bebas Neue", "Shadows Into Light",
  text-transform: uppercase;
  font-size: 1.3em;
  // font-weight: bold;
  text-align: center;
  color: $primary_color;
  //   color: $darker;
  //color: $darker;

  &-portfolio {
    margin: 0 0 1em 0;
  }
  a {
    // color: $primary_color;
    // text-decoration: underline;
    &:hover {
      //   color: $primary_color;
      // text-decoration: underline;
    }
  }
}
