.indexHeroGradient {
  background: linear-gradient(
    323deg,
    rgba(14, 46, 112, 1) 9%,
    rgba(31, 93, 219, 1) 100%
  );
}
.indexHeroBack {
  background-image: url('../../../images/backgrounds/small-grid.png');
  background-size: 150px;
  background-repeat: repeat;
}
