.bottomBar {
  height: 2.5em;
  background-position: center;
  background-size: 7px 35px;
  background-repeat: repeat-x;
  margin: 0 0 2em 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
}
.buckle {
  height: 2.5em;
  width: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
