@import '../../../styles/includeInAll/all/variables.scss';

$red_color: #cf3131;

.bottomBar {
  height: 2.5em;
  background-position: center;
  background-size: 7px 35px;
  background-repeat: repeat-x;
  margin: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
}
.vaccineAdvocacy {
  height: 40px;
  @include flex_center;
  color: $red_color;
  a.vaccineLink {
    color: $red_color;
    text-decoration: underline;
    :hover {
      color: $red_color;
      text-decoration: underline;
    }
  }
}
.buckle {
  height: 2.5em;
  width: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footerTrailer {
  font-size: 0.7rem;
  padding: 0;
  a {
    color: #065d9c;
    :hover {
      color: #065d9c;
      text-decoration: underline;
    }
  }
}
