@import './standard/general.scss';

.contactPage {
  display: block;

  &__spacer {
    height: 200px;
  }
}

.logoContainer {
  width: 100%;
  text-align: center;
}

.contactIcon {
  margin: 0 15px;
  width: auto;
  height: 50px;
  @include MQ(S) {
    margin: 0 20px;
  }
}

.general .contactNote {
  font-family: 'Nothing You Could Do';
  font-size: 1.5em;
}

.boxesBkLeft {
  min-height: 400px;
  background-size: 400px !important;
  background-position: left top 75px;
  background-repeat: repeat-y;
  padding-bottom: 2em;
}
.boxesBkRight {
  min-height: 400px;
  background-size: 400px !important;
  background-position: right top 125px;
  background-repeat: repeat-y;
}
