@import "~bootstrap/scss/bootstrap.scss";
@import "./standard/variables.scss";
@import "./standard/breakpoints.scss";
@import "./standard/tags.scss";
@import "./standard/utilities.scss";

.heroic {
  min-height: 400px;
  background-size: cover;
  background-position: left 10px;
  &__mainTitle {
    padding: 1.75rem 0;
  }
  &__inset {
    text-align: center;
    font-family: "Nothing You Could Do";
    font-size: 1.3rem;
  }
  &__prevEmp {
    display: flex;
    flex-flow: column;
    margin: 2rem 0 0 0;
    @include MQ(S) {
      font-size: 0.9rem;
      flex-flow: row;
      margin: 2rem 0;
    }
  }

  &__prevEmp-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    @include MQ(S) {
      width: 35%;
      min-width: 200px;
      display: flex;
      justify-content: center;
    }
  }
}

.explainBox {
  display: flex;
  flex-flow: column;
  h3 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0.5em 0;
  }
  p {
    margin: 0.5em 0;
    font-size: 0.9rem;
  }
  @include MQ(S) {
    flex-flow: row;
  }
  &--ux {
    background-size: 100% 100%;
    min-height: 200px;
    width: 100%;
    color: white;
    flex-flow: column-reverse;
    @include MQ(S) {
      flex-flow: row;
    }
  }
  &__sectionPicture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section {
  width: 100%;

  &--uxLeft {
    margin: 1rem 0 2rem 0;
    @include MQ(S) {
      margin: 1rem 0;
      width: 30%;
    }
  }
  &--uxRight {
    margin: 2rem 2rem 0 2rem;
    @include MQ(S) {
      margin: 2rem 0;
    }
  }
}
