@import "~bootstrap/scss/bootstrap.scss";

@import "./breakpoints";

$light-grey: #c7c7c7;
$darker: #575757;

@mixin border_guide {
  box-shadow: inset 0px 0px 0px 0.5px $light-grey;
}

div {
  @include border_guide;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}

h1 {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.8em;
}
p {
  margin-top: 1.8em;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1.8em;
}
h3 {
  font-size: 1.4em;
  margin: 1em 0;
}
ul {
  li {
    line-height: 2em;
  }
}

$portfolioFont: "Bebas Neue";

.j {
  &-mainNav {
    font-family: "Permanent Marker", cursive;
    font-size: 1.5em;
    text-align: center;

    &-portfolio {
      margin: 0 0 1em 0;
    }
    a {
      color: $darker;
      text-decoration: underline;
      &:hover {
        color: $darker;
        text-decoration: underline;
      }
    }
  }
  &-modalMobile {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  &-modalDesktop {
    text-align: center;
    max-width: 800px;
    margin: 1.75rem auto;
  }
  &-modalTitle {
    color: $darker;
    font-family: $portfolioFont;
    font-size: 1.4em;
  }
  &-compHeading {
    font-family: $portfolioFont;
    color: $darker;
    margin: 1em 0 0.5em;
  }
  &-projectInset {
    font-size: 0.9em;
  }
  &-headingBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    h2 {
      font-family: $portfolioFont;
      color: $darker;
      margin: 0.3em 0 0 0;
      align-self: flex-end;
    }
    &__firstSection {
      display: flex;
    }
    &__lastSection {
      display: flex;
      width: 7em;
    }
    &__logo {
      display: none;
      margin-bottom: 0.3em;
      @include MQ(L) {
        display: block;
      }
    }
  }
}
