@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./breakpoints.scss";

@mixin border_guide {
  // box-shadow: inset 0px 0px 0px 0.5px $light-grey;
}
.no-break {
  white-space: pre;
}
div {
  @include border_guide;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

h1 {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.8em;
}
p {
  margin-top: 1.8em;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1.8em;
}
h3 {
  font-size: 1.4em;
  margin: 1em 0;
}
ul {
  li {
    line-height: 2em;
  }
}

.homeHero {
  display: block;
  height: 700px;
  width: 100%;
}

@mixin portfolio_textStyle {
  font-family: $standardHeading, "Tahoma";
  // font-family: "Tahoma" "Bebas Neue", "Mukta";
  text-transform: uppercase;
  // font-family: "Open Sans";
  font-weight: bold;
  color: $darker;
}

.j {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $standardHeading;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    text-decoration: underline;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-weight: bold;
  }
  &-firstJobHeading {
    margin: 1em 0 0 0;
  }
  &-jobHeading {
    margin: 2em 0 0 0;
  }
  &-initialDescript {
    font-style: italic;
    margin: 0.8em 0;
  }
  li {
    line-height: 1.6em;
  }
  &-expand {
    font-weight: bold;
  }

  &-modalMobile {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  &-modalDesktop {
    text-align: center;
    max-width: 800px;
    margin: 1.75rem auto;
  }
  &-modalTitle {
    @include portfolio_textStyle;
    font-size: 1.4em;
  }
  &-compHeading {
    @include portfolio_textStyle;
    margin: 1em 0 0.5em;
  }
  &-projectInset {
    font-size: 1em;
  }
  &-mainHeader {
    @include portfolio_textStyle;
    color: $light-grey;
    margin: 2em 0 0 0;
  }
  &-headingBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    h2 {
      @include portfolio_textStyle;
      margin: 0.3em 0 0 0;
      align-self: flex-end;
    }
    &__firstSection {
      display: flex;
    }
    &__lastSection {
      display: flex;
      width: 7em;
    }
    &__logo {
      display: none;
      margin-bottom: 0.3em;
      @include MQ(L) {
        display: block;
      }
    }
  }
}

.main {
  background-position: center;
  background-size: cover;
  display: relative;
  height: auto;
  width: 100%;
  @include MQ(S) {
    min-height: 60vh;
    @include flex_center;
  }
  &__center {
    @include MQ(S) {
      padding: 200px 40px;
      text-align: center;
    }
  }
  &__title {
    font-family: $standardHeading;
    font-size: 3.2em;
    letter-spacing: -1px;
    margin: 0;
    padding: 10vh 40px 20px 40px;
    @include MQ(S) {
      padding: 0 0 20px 0;
    }
  }
  &__syn {
    margin: 0;
    padding: 0 2em 3em 2em;
    font-size: 1.4em;
    @include MQ(S) {
      @include margin_center;
      text-align: center;
      max-width: 700px;
      padding: 0;
    }
  }
}
