@import "~bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./tags.scss";

@mixin border_guide {
  // box-shadow: inset 0px 0px 0px 0.5px $light-grey;
}
div {
  @include border_guide;
}
.no-break {
  white-space: pre;
}

@mixin portfolio_textStyle {
  font-family: $standardHeading, "Tahoma";
  text-transform: uppercase;
  font-weight: bold;
  color: $darker;
}

.j {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $standardHeading;
  }
  h3 {
    font-size: 1.7em;
  }
  h4 {
    text-decoration: underline;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-weight: bold;
  }
  &-firstJobHeading {
    margin: 1em 0 0 0;
  }
  &-jobHeading {
    margin: 2em 0 0 0;
  }
  &-initialDescript {
    font-style: italic;
    margin: 0.8em 0;
  }
  li {
    line-height: 1.6em;
  }
  &-expand {
    font-weight: bold;
  }

  &-modalMobile {
    max-width: 300px;
    margin: 1.75rem auto;
  }
  &-modalDesktop {
    text-align: center;
    max-width: 800px;
    margin: 1.75rem auto;
  }
  &-modalTitle {
    @include portfolio_textStyle;
    font-size: 1.4em;
  }
  &-compHeading {
    @include portfolio_textStyle;
    margin: 1em 0 0.5em;
  }
  &-projectInset {
    font-size: 1em;
  }
  &-mainHeader {
    @include portfolio_textStyle;
    color: $light-grey;
    margin: 0;
    @include MQ(S) {
      margin: 2em 0 0 0;
      padding: 0 0 20px 0;
    }
  }
  &-headingBox {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
    h2 {
      @include portfolio_textStyle;
      margin: 0.3em 0 0 0;
      align-self: flex-end;
    }
    &__firstSection {
      display: flex;
    }
    &__lastSection {
      display: flex;
      width: 7em;
    }
    &__logo {
      visibility: hidden;
      margin-bottom: 0em;
      @include MQ(L) {
        display: block;
        visibility: visible;
      }
    }
  }
}

.herox {
  &__mainTitle {
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
    @include MQ(S) {
      font-size: 1.5em;
    }
  }
  &__inset {
    font-size: 1.2em;
    font-family: "Nothing You Could Do";
    padding: 1em 0 2em 0;
    text-align: center;
    @include MQ(S) {
      font-size: 1.3em;
      padding: 1em 0;
    }
  }
  &__topBk {
    width: 100%;
  }
  &__mainTableBk {
    height: 80px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    @include flex_center;
    @include MQ(S) {
      height: 100px;
    }
  }
  &__edgeTableBk {
    height: 10px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    @include MQ(S) {
      height: 20px;
    }
  }
  &__placecardBk {
    display: block;
    background-image: url("../images/shadow.png");
    background-size: contain;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-position: bottom 50px;
    @include MQ(S) {
      padding: 0 15px;
    }
  }
  &__placecard {
    background-color: white;
    height: 60px;
    width: 90vw;
    border: 0;
    background-image: url("../images/card-back.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom;
    @include flex_center;
    @include MQ(S) {
      height: 80px;
      width: 450px;
      padding: 0 10px;
    }
  }
  &__logo {
    padding: 10px;
    height: auto;
    width: 10%;
  }
  &__allLogos {
    width: 430px;
    height: 50px;
    background-size: contain;
  }
}
.mainFontSize {
  font-size: 0.8em;
  @include MQ(S) {
    font-size: 0.9em;
  }
}

.logos-caption {
  padding: 0.2em 2em;
  font-size: 1em;
  @include MQ(S) {
    padding: 0.7em 1em;
  }
}

.explainBox {
  @include flex_center;
  margin-top: 2em;

  &__center {
    width: 80vw;
    @include MQ(S) {
      width: 700px;
    }
  }
  &__left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
  &__img-brushes {
    width: 90px;
    @include MQ(S) {
      width: 120px;
    }
  }
  &__img-laptop {
    width: 120px;
    @include MQ(S) {
      width: 150px;
    }
  }
  &__right {
    width: 70%;
    padding: 0 0 0 1em;
    @include MQ(L) {
      padding: 0 0 0 2em;
    }

    h3 {
      margin: 1em 0;
      font-size: 1.1em;
    }
  }
}
