@import './includeInAll/index.scss';

.modalTitle {
  @include portfolio_textStyle;
  font-size: 1.4em;
}
.modalMobile {
  max-width: 300px !important;
  margin: 1.75rem auto !important;
}
.modalDesktop {
  text-align: center;
  max-width: 800px !important;
  margin: 1.75rem auto !important;
}
.compHeading {
  @include portfolio_textStyle;
  margin: 1em 0 0.5em;
}
.projectInset {
  font-size: 0.9em;
}

.portfolioPage {
  h2 {
    @include portfolio_textStyle;
    margin-top: 0.5em;
  }
}
