@import './includeInAll/index.scss';

.exBox {
  flex-flow: column-reverse;
  @include MQ(S) {
    flex-flow: row;
    padding-bottom: 0;
    background-image: url('../images/phone-grid.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right;
    min-height: 270px;
  }
  @include MQ(M) {
    background-size: 500px;
  }
  &__part1 {
    @include MQ(S) {
      width: 65%;
    }
    @include MQ(M) {
      width: 70%;
    }
  }
  &__part2 {
    text-align: center;
    padding-top: 0;
    @include MQ(S) {
      padding-top: 1rem;
      text-align: left;
      width: 45%;
      padding-left: 0.5rem;
      padding-right: 1rem;
    }
    @include MQ(M) {
      width: 30%;
      padding-left: 1rem;
    }
  }
}
.sect-btn2 {
  text-align: center;
  @include MQ(S) {
    text-align: right;
  }
}
