@import './standard/general.scss';
$fav_radius: 0.8rem;
$fav_border: 1px solid #d6d6d6;

.projectCard {
  &__top {
    border-right: $fav_border;
    border-top: $fav_border;
    border-left: $fav_border;
    border-top-left-radius: $fav_radius;
    border-top-right-radius: $fav_radius;
    padding: 0.7rem 1rem;
    margin-top: 1.2rem;
    margin-bottom: 0;
    background-color: #e9e9e9;
    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }
  &__bottom {
    border: $fav_border;
    border-bottom-left-radius: $fav_radius;
    border-bottom-right-radius: $fav_radius;
    padding: 0 1em 0.2rem 1em;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row;
    .left {
      display: block;
      padding: 0.5rem;
      a {
        text-decoration: underline;
      }
    }
    p {
      font-size: 0.9rem;
    }
    .right {
      padding: 0.5rem;
      .postcardComp {
        border: 1px solid #cbcbca;
        box-shadow: 0 0 10px #cbcbca;
        height: 300px;
        overflow: hidden;
        cursor: pointer;
        margin: 1rem 0;
        &:hover {
          box-shadow: 0 0 15px #a3a3a3;
        }
      }
    }
  }
}
