@import './includeInAll/index.scss';

h5 {
  font-size: 1em;
}

.clientBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include MQ(S) {
    flex-flow: row;
  }
  &__left {
    @include flex_center;
    justify-content: flex-start;
  }
  &__right {
    @include flex_center;
    justify-content: flex-start;
    visibility: hidden;
    display: none;
    @include MQ(S) {
      @include flex_center;
      width: 30%;
      visibility: visible;
    }
    @include MQ(S) {
      justify-content: flex-end;
    }
  }
}
