@import './includeInAll/index.scss';

.clientBox {
  &__right {
    visibility: hidden;
    display: none;
    @include MQ(S) {
      display: flex;
      visibility: visible;
      justify-content: flex-end;
    }
  }
}
