@import '../styles/includeInAll/index.scss';

.contactPage {
  display: block;

  &__spacer {
    height: 200px;
  }
}

.contactIcon {
  margin: 0 15px;
  width: auto;
  height: 50px;
  @include MQ(S) {
    margin: 0 20px;
  }
}

.general .contactNote {
  font-family: 'Nothing You Could Do';
  font-size: 1.5em;
}

.bizCard {
  height: 225px;
  background-size: contain;
}
