@import '../styles/includeInAll/index.scss';

.contactIcon {
  margin: 0 15px;
  width: auto;
  height: 50px;
  @include MQ(S) {
    margin: 0 20px;
  }
}

.contactFormLabel {
  font-weight: bold;
  font-size: 0.9rem;
}

.buttonContainer {
  width: 100%;
  @include MQ(S) {
    justify-content: flex-end;
  }
  display: flex;
}
.flushButton {
  width: 100%;
  @include MQ(S) {
    width: 10rem;
  }
}

.mailBackground {
  height: 500px;
  width: 100%;
  background-image: url('../images/backgrounds/mail-pattern-2.png');
  background-repeat: repeat;
}
