@import '../styles/includeInAll/index.scss';

.contactIcon {
  margin: 0 15px;
  width: auto;
  height: 50px;
  @include MQ(S) {
    margin: 0 20px;
  }
}

.contactFormLabel {
  font-weight: bold;
  font-size: 0.9rem;
}
