@import "./variables.scss";

html {
  font-family: $standardFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

h1 {
  line-height: 1.5em;
  font-weight: normal;
  font-size: 1.8em;
}
p {
  margin-top: 1.8em;
  font-size: 0.9em;
}
h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1.8em;
}
h3 {
  font-size: 1.4em;
  margin: 1em 0;
}
ul {
  li {
    line-height: 2em;
  }
}
