$light-grey: #c7c7c7;
$darker: #575757;
$main_link: #004c93;

$standardHeading: 'Barlow Condensed', 'Trebuchet MS', 'Tahoma';
$standardFont: 'Montserrat', 'Open Sans', 'Trebuchet MS', Sans-serif;
$headerFont: 'Montserrat', 'Open Sans', 'Trebuchet MS', Sans-serif;

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin margin_center {
  margin: 0 auto;
}

@mixin allcaps_header {
  font-family: $headerFont;
  text-transform: uppercase;
}
$fav_radius: 0.8rem;
$fav_border: 1px solid #d6d6d6;
