$light-grey: #c7c7c7;
$darker: #575757;
$primary_color: #073f83;

$standardHeading: 'Barlow Condensed', 'Trebuchet MS', 'Tahoma';
$standardFont: 'Montserrat', 'Open Sans';
$headerFont: 'Montserrat';

@mixin flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin margin_center {
  margin: 0 auto;
}

@mixin portfolio_textStyle {
  font-family: $standardHeading;
  text-transform: uppercase;
  font-weight: bold;
  color: $darker;
}
