@mixin comp_border {
  border: 1px solid #cbcbca;
  box-shadow: 0 0 10px #cbcbca;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  margin: 0 1.5em;
}

.j {
  &-mobThumb {
    width: 100px;
    @include comp_border;
  }
  &-deskThumb {
    max-width: 500px;
    @include comp_border;
  }
}
