@import '~bootstrap/scss/bootstrap.scss';
@import './all/variables.scss';
@import './all/breakpoints.scss';
@import './all/utilities.scss';

body {
  font-family: $standardFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.8rem;
  margin: 1em 0 0.2em 0;
}
h2,
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.3rem;
  line-height: 1.7rem;
  margin: 1.7rem 0 0.9rem 0;
}
h5 {
  font-size: 1.1rem;
}

li {
  line-height: 2rem;
}

.one-pt-8-rem {
  font-size: 1.8rem;
}
.one-pt-1-rem {
  font-size: 1.1rem;
}
.one-rem {
  font-size: 1rem;
}
.all-caps {
  text-transform: uppercase;
}
.pt-9-rem {
  font-size: 0.9rem;
}
.pt-8-rem {
  font-size: 0.8rem;
}
.pt-6-rem {
  font-size: 0.6rem;
}

.line-height-25 {
  line-height: 2.5rem;
}

a {
  color: #004683;
  :hover {
    color: #004683;
  }
}

a.link {
  color: #065d9c;
  :hover {
    color: #065d9c;
    text-decoration: underline;
  }
}

.boxesBkLeft {
  min-height: 400px;
  background-size: cover;
  background-position: left top 75px;
  background-repeat: repeat-y !important;
  padding-bottom: 2em;
}
.boxesBkRight {
  min-height: 400px;
  background-size: cover;
  background-position: right top 125px;
  background-repeat: repeat-y !important;
}

.duoRoundBox {
  &__top {
    border-right: $fav_border;
    border-top: $fav_border;
    border-left: $fav_border;
    border-top-left-radius: $fav_radius;
    border-top-right-radius: $fav_radius;
    padding: 0.7rem 1rem;
    background-color: #e9e9e9;
    h2,
    h4 {
      font-size: 1.1rem;
    }
  }
  &__bottom {
    border: $fav_border;
    border-bottom-left-radius: $fav_radius;
    border-bottom-right-radius: $fav_radius;
    padding: 0 1em 0.2rem 1em;
  }
}

.backgroundBoxesLeft {
  width: 100%;
  background-image: url('../../images/backgrounds/left-boxes.png');
  background-size: 400px;
  background-repeat: repeat-y;
  background-position: left 4rem;
}

.backgroundBoxesRight {
  @include MQ(S) {
    width: 100%;
    background-image: url('../../images/backgrounds/right-boxes.png');
    background-size: 400px;
    background-repeat: repeat-y;
    background-position: right 4rem;
  }
}
